
/*
img.progressiveMedia-thumbnail.js-progressiveMedia-thumbnail {
    display:none !important;
    width:10 !important;
    height:10 !important;
}
*/

.progressiveMedia {
    display:none !important;
}
